<div class="page-title story-title" data-stellar-background-ratio="0.2" style="background-position: 0% 8px;">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h1>Our Story</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb">
          <li><a href="#"><i class="ion-home"></i></a></li>
          <li class="active">Our Story</li>
        </ol>
      </div>
    </div>
  </div>
</div>
<div class="divided-30"></div>
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 about-description">
      <p>
        Silas Shyaka Education Fund is the charity arm of the TOD Idea. It was founded in 2009 ( incorporated as a
        company limited by guarantee) with the purpose of giving children of Koch-Lii, Nyowa District in Northern Uganda
        a chance at an education they would otherwise have been denied due to lack of funds.
      </p>

      <p>
        While on a farming venture in Koch-Lii in 2009-2011, we taught at Koch-Lii Primary School as volunteer P7
        teachers for Maths and Science. The school was in dire need of teachers so we did a lot to close that gap.</p>

      <p>
        It was while teaching at this village school just arising out of decades of the Kony War that we noticed that
        some of these children had potential like their counter-parts in Kampala and that all was needed was for these
        young bright minds to be given a chance to access the level of exposure that their contemporaries were receiving
        in city schools.
      </p>

      <p>
        We set out to get them sponsors among our friends in Kampala and luckily enough up to now we have managed to
        educate 7 children, all products of the internally displaced persons camps, into O'Levels and vocational
        schools.

      </p>

      <div class="divided-30"></div>
      For more updates and information follow us on social media.
      <ul class="social list-inline">
        <li><a href="https://www.facebook.com/SSEFund/" class="fb"><i class="ion-social-facebook-outline"></i></a></li>
        <li><a href="https://twitter.com/SSEducationFund" class="twitter"><i class="ion-social-twitter-outline"></i></a>
        </li>
      </ul>
      <div class="divided-50"></div>
    </div>

  </div>
</div>
