<div class="divided-20"></div>
<div class="container">
  <div class="row">
    <div class="col-lg-12 about-description">
      <div >
        <div style="margin: 10px;">

        </div>
        <div>
          <p>Africa needs access to high quality and affordable education to ensure we are able to compete on a global
            scale.
            This is the belief that got us into developing the EduTab.</p>

          <p>With the EduTab, children are able to consolidate topics learned in class through reinforcement using the
            interactivity of software applications, the engagement of video and imaginativeness of books.
          </p>

          <p>The EduTab hosts a range of " Khan Academy" videos which cover a range of topics taught in class like Maths,
            Economics, Physics, Chemistry, Biology etc. The Khan Academy is used by millions of students worldwide and
            acclaimed for its high quality pedagogy.
          </p>

          <p>The TOD Idea was incorporated in September 2013 with the sole aim of standing at the fore front of digitising
            education. That why TOD stands for "Teachers On Devices" to signify our desire to get our children in Uganda
            learning the same way as those in the first world countries.</p>

          <p>We are also aware of the need to impart 21st century skills(Communication, Critical Thinking and Collaboration)
            for our children if they are to have a chance of competing on a global scale and we know these skills are best
            imparted when children learn, research and share information on a digital platform.</p>

          <p>Our appreciation of the need for 21st Century learning had us starting a new venture, TechKids Computer
            Programming and Robotics Clubs, after-school clubs designed to foster essential 21st century using the fun,
            interactive, collaborative learning materials.
            In our clubs, we teach children how to think. To think in abstract terms, design terms. algorithmically,
            critically, spatially, innovatively, to be risk taking and problem solving. |This are the skills required for
            the
            21st century citizen in a continuously changing world. These are skills of entrepreneurs and entrepreneurship is
            the great panacea of youth unemployment in Africa.</p>

          <p>TechKids ICT clubs cover over 250 students in 6 schools for far and we dream of reaching over 10,000 students
            in
            over 100 schools within 5 years.</p>

          Aluta Continua
        </div>
      </div>



      <div class="divided-30"></div>
      For more updates and information follow us on social media.
      <ul class="social list-inline">
        <li>
          <a href="https://www.facebook.com/SSEFund/" class="fb" target="_blank"><i class="ion-social-facebook-outline"></i></a>
        </li>
        <li>
          <a href="https://twitter.com/SSEducationFund" class="twitter" target="_blank"><i class="ion-social-twitter-outline"></i></a>
        </li>
      </ul>
      <div class="divided-50"></div>
    </div>

  </div>
</div>
