/* line 1, C:/TODIdea-master/TODIdea-master/app/assets/stylesheets/home.scss */
.product-logo {
  max-height: 100px;
}

/* line 4, C:/TODIdea-master/TODIdea-master/app/assets/stylesheets/home.css.scss */
.product {
  text-align: center;
}

/* line 8, C:/TODIdea-master/TODIdea-master/app/assets/stylesheets/home.css.scss */
nav.navbar-fixed-top li a {
  color: #FFF;
  text-shadow: none;
}

/* line 12, C:/TODIdea-master/TODIdea-master/app/assets/stylesheets/home.css.scss */
nav.navbar-fixed-top {
  background: transparent;
  border-bottom: 0px !important;
}

/* line 17, C:/TODIdea-master/TODIdea-master/app/assets/stylesheets/home.css.scss */
nav.navbar-fixed-top .logo {
  color: #FFF;
}

/* line 21, C:/TODIdea-master/TODIdea-master/app/assets/stylesheets/home.css.scss */
nav,
nav.navbar-fixed-top,
nav.navbar-fixed-top li a,
nav.navbar-fixed-top .logo {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
