<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
  <!--<form role="search">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Search">
    </div>
  </form>-->
  <ul class="nav menu">
    <li class="active"><a href="index.html"><span class="glyphicon glyphicon-dashboard"></span> Dashboard</a></li>
    <li><a href="widgets.html"><span class="glyphicon glyphicon-th"></span> Widgets</a></li>
    <li><a href="charts.html"><span class="glyphicon glyphicon-stats"></span> Charts</a></li>
    <li><a href="tables.html"><span class="glyphicon glyphicon-list-alt"></span> Tables</a></li>
    <li><a href="forms.html"><span class="glyphicon glyphicon-pencil"></span> Forms</a></li>
    <li><a href="panels.html"><span class="glyphicon glyphicon-info-sign"></span> Alerts &amp; Panels</a></li>
    <li class="parent ">
      <a href="#">
        <span class="glyphicon glyphicon-list"></span> Dropdown <span data-toggle="collapse" href="#sub-item-1" class="icon pull-right"><em class="glyphicon glyphicon-s glyphicon-plus"></em></span>
      </a>
      <ul class="children collapse" id="sub-item-1">
        <li>
          <a class="" href="#">
            <span class="glyphicon glyphicon-share-alt"></span> Sub Item 1
          </a>
        </li>
        <li>
          <a class="" href="#">
            <span class="glyphicon glyphicon-share-alt"></span> Sub Item 2
          </a>
        </li>
        <li>
          <a class="" href="#">
            <span class="glyphicon glyphicon-share-alt"></span> Sub Item 3
          </a>
        </li>
      </ul>
    </li>
    <li role="presentation" class="divider"></li>
    <li><a href="login.html"><span class="glyphicon glyphicon-user"></span> Login Page</a></li>
  </ul>
</div><!--/.sidebar-->

<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
  <div class="row">
    <ol class="breadcrumb">
      <li><a href="#"><span class="glyphicon glyphicon-home"></span></a></li>
      <li class="active">Dashboard</li>
    </ol>
  </div>
</div>	<!--/.main-->