<%= simple_form_for([:admin, @story]) do |f| %>
    <%= f.input_field :story, {'id' => 'text'} %>
    <%= f.button :submit, 'Save Changes', class: 'btn btn-success btn-block btn-medium' %>
    <% end %>
    <div class="divided-20"></div>