
<div class="container">
  </div><div class="row">
  <div class="col-lg-8 col-lg-offset-2">
    <div class="event-banner">
      <%= image_tag('intro_bkg.jpg',class: 'img img-responsive') %>
      <h3>Event Name</h3>
    </div>
    <div class="event-inner">
      <div class="event-header">
        <h3>Event Name</h3>
      </div>
    </div>
  </div>
</div>
</div>

