<div class="container">
  <div class="row">
    <div class="col-md-12">
      <!-- First Blog Post -->

      <%= cl_image_tag(@project.photo, class: 'img-responsive', height: '300px') %>
      <h2>
        <a href="#"><%= @project.name %></a>
      </h2>

      <p class="lead">

      </p>

      <p>Date <i class="ion ion-calendar"></i> <%= @project.date.strftime('%B %d, %Y') %></p>

      <hr>
      <p><%= simple_format @project.description %></p>

      <hr>
    </div>
  </div>
</div>