<%= simple_form_for ([:admin,@category]) do |f| %>
    <%= f.input :name, label: 'Name' %>
    <%= f.input_field :description, {'id' => 'text', as: :text} %>
    <%= f.button :submit, @category.new_record? ? 'Add Category' : 'Update Category', class: 'btn btn-success btn-block btn-medium' %>
<% end %>
<div class="divided-20"></div>