<!--page-title-->
<div class="divided-70"></div>
<div class="page-title" data-stellar-background-ratio="0.2" style="background-position: 0% 8px;">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h1>Contact Us</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb">
          <li><a href="#"><i class="ion-home"></i></a></li>
          <li class="active">Contact</li>
        </ol>
      </div>
    </div>
  </div>
</div>
<div class="divided-30"></div>
<div class="container contact-content">
  <div class="row">
    <div class="col-sm-6">
      <div class="contact-info">
        <h3>Contact information</h3>
        <br>
        <p><strong>Address:</strong></p>
        <p>
          P.O. Box 6563, Kati House, Nakasero, Kampala,Uganda
        </p>
        <br>
        <p><strong>Mail us:</strong></p>
        <p>info@todidea.org</p>
        <br>
        <p><strong>Call us:</strong></p>
        <p>+256 757 112 376</p>
        <br>
        <h4>Social Media:</h4><br>
        <ul class="social list-inline">
          <li><a href="#" class="fb"><i class="ion-social-facebook-outline"></i></a></li>
          <li><a href="#" class="twitter"><i class="ion-social-twitter-outline"></i></a></li>
          <li><a href="#" class="in"><i class="ion-social-linkedin-outline"></i></a></li>
          <li><a href="#" class="dribbble"><i class="ion-social-dribbble-outline"></i></a></li>
        </ul>
      </div>

    </div>

    <div class="col-sm-6">
      <h3 class="margin-bottom-30">Send us a message</h3>
      <form class="contact-form">
        <label>Name</label>
        <div class="row margin-bottom-20">
          <div class="col-sm-12 col-md-offset-0">
            <input type="text" class="form-control">
          </div>
        </div>

        <label>Email </label>
        <div class="row margin-bottom-20">
          <div class="col-sm-12 col-md-offset-0">
            <input type="text" class="form-control">
          </div>
        </div>

        <label>Message</label>
        <div class="row margin-bottom-20">
          <div class="col-sm-12 col-md-offset-0">
            <textarea rows="8" class="form-control"></textarea>
          </div>
        </div>

        <p><button type="submit" class="btn btn-theme-border btn-radius btn-lg">Send Message</button></p>
      </form>
    </div>


  </div>
</div>
<div class="divided-70"></div>
<!--<div class="google-map">
  <iframe height="490" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=london&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=39.047881,86.044922&amp;ie=UTF8&amp;hq=&amp;hnear=London,+United+Kingdom&amp;t=m&amp;ll=51.508101,-0.128059&amp;spn=0.07479,0.21286&amp;z=12&amp;iwloc=A&amp;output=embed"></iframe>
</div>-->
