/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= require froala_editor.min.css
 *= require froala_style.min.css
 *= require themes/dark.min.css
 */

@import "bootstrap";
@import "ionicons.min";
@import "owl.carousel";
@import "owl.theme";
@import "animate";
@import "ionicons";
@import "font-awesome";
@import "style";
//@import "responsive";
@import "owl.carousel";
//@import "owl.transitions";

body{
  font-family: Lato, sans-serif;
}

#owl-product-slider .item img{
  display: block;
  width: 100%;
  height: auto;
}
.blog_feed-3 {
  padding-top: 50px;
}
.blog-post-3 {
  padding: 100px 0px;
}
.blog_post-3 .blog-post-image {
  padding-left: 15px;
  padding-right: 15px;
}
.blog-post-3 .blog-post-image img {
  //border-radius: 100%;
  position: fixed;
  width: calc(18% - 30px);
}
h4.text-light, .h4.text-light {
  border-width: 0.09em;
}
.blog-post-3 .blog-post-social {
  text-align: inherit;
  margin-top: 30px;
}
.blog-post-3 .blog-post-social .container .row [class*="col-"] p {
  display: inline;
}
.blog_feed-3 .container .col-xs-12.blog-post-image {
  padding-left: 0px;
  padding-right: 0px;
}
img.img-sm-75 {
  width: 75%;
}
.text-light {
  font-weight: 300;
}
.highlight {
  color: #B8312F;
}
.text-xsmall {
  font-size: 12.6px;
}
.text-large {
  font-size: 21.6px;
}
.text-small {
  font-size: 16.2px;
}
