.team-info{
  font-size: 18px;
}
.centered {
  text-align: center;
}
.product-row{
  padding: 50px;
  width: 1300px;
  height: 600px;

}
.product-row h2{
  font-family: "Helvetica Neue", Arial, "Lucida Grande", sans-serif;
  text-align: center;
  font-weight: 600;
}
.product-logo{
  max-height: 100px;
}
.product{
  text-align: center;
}

nav.navbar-fixed-top li a {
  color:#FFF;
  text-shadow: none;
}
nav.navbar-fixed-top{
  background: transparent;
  border-bottom: 0px !important;
}

nav.navbar-fixed-top .logo{
  color: #FFF;
}

nav,
nav.navbar-fixed-top,
nav.navbar-fixed-top li a,
nav.navbar-fixed-top .logo {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}