

<div class="divided-30"></div>
<div class="row">
  <div class="col-lg-8 col-lg-offset-2">
    <%= cl_image_tag @product.photo, height: '200px' %>
    <div class="product-details">
      <p class="fr-view">
        <%= @product.description %>
      </p>

    </div>

    <!-- row -->
  </div>
</div>