<div class="divided-20"></div>
<div class="container">
  <div class="col-lg-8 col-lg-offset-2">
    <% @products.each do |product| %>
    <div class="row">
      <div class="col-md-6">
        <%= link_to product  do %>
            <%= image_tag product.photo, class: 'img-responsive', width: '400px', height: '300px' %>
        <% end %>
      </div>
      <div class="col-md-6">
        <h2 class="media-heading" style="font-weight: 600;"><%= product.name %></h2>
        <p><%= product.description %></p>
      </div>
    </div>
    <% end %>
  </div>
</div>
