<div class="divided-20"></div>
<div class="container">
  <div class="col-lg-12">
    <% @products.each do |product| %>
        <div class="row">
          <div style="padding: 50px">
            <div class="col-md-6 col-sm-12">
              <%= cl_image_tag product.photo, class: 'img-responsive', width: '400px', height: '300px' %>
            </div>
            <div class="col-md-6 col-sm-12">
              <h2 class="media-heading" style="font-weight: 600;"><%= product.name %></h2>

              <p class="product-wrapper" id="text-wrapper"><%= simple_format(product.description) %></p>
              <%= link_to 'More about this product', controller: 'products', action: 'show', name: product.name %>
            </div>
          </div>

        </div>
    <% end %>
  </div>
</div>
<div class="divided-20"></div>
