<footer id="footer">
  <div class="container">
    <div class="row margin-bottom-60">
      <div class="col-sm-4 margin-bottom-30">
        <div class="footer-inner">
          <h3><a href="index.html"><img src="images/logo-dark.png" alt=""></a></h3>

          <p>

            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.
          </p>

          <div class="divided-30"></div>
          <ul class="social list-inline">
            <li><a href="#" class="fb"><i class="ion-social-facebook-outline"></i></a></li>
            <li><a href="#" class="twitter"><i class="ion-social-twitter-outline"></i></a></li>
            <li><a href="#" class="in"><i class="ion-social-linkedin-outline"></i></a></li>
            <li><a href="#" class="dribbble"><i class="ion-social-dribbble-outline"></i></a></li>
          </ul>
        </div>
        <!--fotter inner-->
      </div>

      <div class="col-sm-4 margin-bottom-30">
        <div class="footer-inner">
          <h3>Contact us</h3>

          <ul class="list-unstyled contact-list">
            <li><i class="ion-ios-home"></i> - Headquarters</li>
            <li><i class="ion-ios-analytics"></i> - P.O. Box 6563, Kampala Uganda</li>
            <li><i class="ion-ios-home"></i> - Kati House, Nakasero
              Kampala,Uganda.
            </li>
            <li><i class="ion-ios-telephone"></i> - +256 757 112 376</li>
            <li><i class="ion-ios-email"></i> Email: info@todidea.org</li>
          </ul>
        </div>
        <!--fotter inner-->
      </div>
      <div class="col-sm-4">
        <div class="footer-inner">
          <h3>Newsletter</h3>

          <p>
            Subscribe to our newsletter and get free updates
          </p>

          <form role="form" class="subscribe-form form-inline">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Enter email to subscribe">

              <button class="btn btn-default" data-toggle="tooltip" title="" data-original-title="Subscribe" type="submit">
                <i class="ion-ios-paperplane"></i></button>

            </div>
          </form>
        </div>
        <!--fotter inner-->
      </div>
    </div>
    <hr>
    <span class="clearfix copyright">&copy; 2015. All right reserved. Rainbow Connection Uganda</span>
  </div>
</footer>